---
// filepath: /workspaces/my-blog-2/src/pages/posts/towering-balsam.astro
import Layout from '../../layouts/Layout.astro';

const title = "Towering Balsam";
const date = "WED 23RD JUL '25";
const image = "/my-blog-2/images/Ttoekbokki.jpg";
---
<Layout title={title}>
  <article>
    <h1>{title}</h1>
    <p><em>{date}</em></p>
    <img src={image} alt={title} style="max-width: 100%; border-radius: 8px; margin-bottom: 1rem;">
    <p>
      IT’S BEEN QUITE A WHILE SINCE I WAS OUT with Stroud Valleys Project, so it was nice to catch up with friends.
    </p>
  </article>
</Layout>